<a href="https://colab.research.google.com/github/isys5002-itp/ISYS5002-2024-S1/blob/main/07_0_Profit_Analysis___Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions:

Working in pair, follow the **six-steps problem solving methodology** to design and develop a program for the following task.

Create two notebooks:<br>
1. an **analysis and design notebook/report** (which includes analysis and design  discussion)<br>
2. a **development notebook** which includes pseudocode, step-by-step code developement process, testing, and any other industry best practice

# Problem Statement:

You work for a global retail company that operates in various regions around the world, including the Australia and Oceania region. The company stores sales data in a CSV file named "sales.csv," which contains information about sales and profits in different countries. You are tasked with developing a program to analyze sales data stored in a CSV file named "sales.csv" for countries within the Australia and Oceania region. The program should calculate the maximum, minimum, and average profit for each country in this region and create a bar graph displaying the total profit for each country. This visualization aims to provide insights into the financial performance of countries in the Australia and Oceania region, helping your global retail company make informed decisions.

## 1. Problem Statement

We need to calculate the maximum, minimum, and average profit for each country in the given region and create a bar graph displaying the total profit for each country. The region of interest is Australia and Oceania. We are provided with sales data in a form of a csv. file.

## 2. Input/Output Description

# Input
Sales data in a CSV file named "sales.csv" which contains information about sales and profits in different countries

# Output

the maximum, minimum, and average profit for each country in the given region and a bar graph displaying the total profit for each country

## 3. Working the problem by hand

In [4]:
#Loading the Data

import pandas as pd

df = pd.read_csv("/sales.csv")

print (df.head())

                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50

In [6]:
# Filtering the Data

filtered_df = df[df['Region'] == 'Australia and Oceania']
print(filtered_df)

                   Region                         Country        Item Type  \
0   Australia and Oceania                          Tuvalu        Baby Food
5   Australia and Oceania                 Solomon Islands        Baby Food
19  Australia and Oceania                      East Timor             Meat
23  Australia and Oceania                     New Zealand           Fruits
26  Australia and Oceania                        Kiribati           Fruits
32  Australia and Oceania                       Australia  Office Supplies
56  Australia and Oceania                            Fiji          Clothes
60  Australia and Oceania                       Australia           Cereal
76  Australia and Oceania  Federated States of Micronesia        Beverages
79  Australia and Oceania                          Samoa         Cosmetics
91  Australia and Oceania                       Australia        Beverages

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
5         Online              C    2/4/2015  547995746   2/21/2015
19        Online              L   7/31/2012  322067916   9/11/2012
23        Online              H    9/8/2014  142278373   10/4/2014
26        Online              M  10/13/2014  347140347  11/10/2014
32        Online              C  10/27/2015  158535134  11/25/2015
56       Offline              C   6/30/2010  647876489    8/1/2010
60       Offline              H    6/9/2013  450563752    7/2/2013
76        Online              C  10/28/2014  217221009  11/15/2014
79        Online              H   7/20/2013  670854651    8/7/2013
91       Offline              H    7/7/2014  240470397   7/11/2014

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
5         2974      255.28     159.42      759202.72   474115.08     285087.64
19        5908      421.89     364.69     2492526.12  2154588.52     337937.60
23        2187        9.33       6.92       20404.71    15134.04       5270.67
26        5398        9.33       6.92       50363.34    37354.16      13009.18
32        2924      651.21     524.96     1904138.04  1534983.04     369155.00
56        9905      109.28      35.84     1082418.40   354995.20     727423.20
60         682      205.70     117.11      140287.40    79869.02      60418.38
76        9379       47.45      31.79      445033.55   298158.41     146875.14
79        9654      437.20     263.33     4220728.80  2542187.82    1678540.98
91        9389       47.45      31.79      445508.05   298476.31     147031.74

In [9]:
filtered_df = df[df['Region'].str.contains('Australia and Oceania', case = False) ]

In [10]:
filtered_df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
19,Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,9/11/2012,5908,421.89,364.69,2492526.12,2154588.52,337937.60
23,Australia and Oceania,New Zealand,Fruits,Online,H,9/8/2014,142278373,10/4/2014,2187,9.33,6.92,20404.71,15134.04,5270.67
26,Australia and Oceania,Kiribati,Fruits,Online,M,10/13/2014,347140347,11/10/2014,5398,9.33,6.92,50363.34,37354.16,13009.18
32,Australia and Oceania,Australia,Office Supplies,Online,C,10/27/2015,158535134,11/25/2015,2924,651.21,524.96,1904138.04,1534983.04,369155.00
56,Australia and Oceania,Fiji,Clothes,Offline,C,6/30/2010,647876489,8/1/2010,9905,109.28,35.84,1082418.40,354995.20,727423.20
60,Australia and Oceania,Australia,Cereal,Offline,H,6/9/2013,450563752,7/2/2013,682,205.70,117.11,140287.40,79869.02,60418.38
76,Australia and Oceania,Federated States of Micronesia,Beverages,Online,C,10/28/2014,217221009,11/15/2014,9379,47.45,31.79,445033.55,298158.41,146875.14
79,Australia and Oceania,Samoa,Cosmetics,Online,H,7/20/2013,670854651,8/7/2013,9654,437.20,263.33,4220728.80,2542187.82,1678540.98
91,Australia and Oceania,Australia,Beverages,Offline,H,7/7/2014,240470397,7/11/2014,9389,47.45,31.79,445508.05,298476.31,147031.74

In [11]:
grouped_by_country = filtered_df.groupby('Country')['Total Profit'].mean()

In [12]:
print(grouped_by_country)

Country
Australia                         1.922017e+05
East Timor                        3.379376e+05
Federated States of Micronesia    1.468751e+05
Fiji                              7.274232e+05
Kiribati                          1.300918e+04
New Zealand                       5.270670e+03
Samoa                             1.678541e+06
Solomon Islands                   2.850876e+05
Tuvalu                            9.514105e+05
Name: Total Profit, dtype: float64