<a href="https://colab.research.google.com/github/isys5002-itp/ISYS5002-2024-S1/blob/main/How_to_use_GEN_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('sales.csv')

# Print the first few rows of the DataFrame
print(df.head())

                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50

In [2]:
df.sample(5)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
21,Europe,Portugal,Baby Food,Online,H,7/31/2015,860673511,9/3/2015,1273,255.28,159.42,324971.44,202941.66,122029.78
41,Middle East and North Africa,Azerbaijan,Cosmetics,Online,M,2/6/2010,382392299,2/25/2010,7234,437.20,263.33,3162704.80,1904929.22,1257775.58
34,Sub-Saharan Africa,Djibouti,Snacks,Online,M,2/25/2017,756274640,2/25/2017,7327,152.58,97.44,1117953.66,713942.88,404010.78
81,Middle East and North Africa,Lebanon,Clothes,Online,L,9/18/2012,663110148,10/8/2012,7884,109.28,35.84,861563.52,282562.56,579000.96
63,Middle East and North Africa,Libya,Clothes,Offline,H,10/30/2010,705784308,11/17/2010,6116,109.28,35.84,668356.48,219197.44,449159.04

In [6]:
ao_region = df[df['Region'] == 'Australia and Oceania']

#Option case INsensitive
ao_region = df[df['Region'].str.contains('Australia and Oceania', case = False)]

In [7]:
ao_region.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
19,Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,9/11/2012,5908,421.89,364.69,2492526.12,2154588.52,337937.60
23,Australia and Oceania,New Zealand,Fruits,Online,H,9/8/2014,142278373,10/4/2014,2187,9.33,6.92,20404.71,15134.04,5270.67
26,Australia and Oceania,Kiribati,Fruits,Online,M,10/13/2014,347140347,11/10/2014,5398,9.33,6.92,50363.34,37354.16,13009.18

In [ ]:
# TASK filter by ITEM TYPE, FRUITS and MEAT

In [8]:
filtered_df = ao_region[ao_region['Item Type'].isin(['Fruits', 'Meat'])]
print(filtered_df.head())

                   Region      Country Item Type Sales Channel Order Priority  \
19  Australia and Oceania   East Timor      Meat        Online              L
23  Australia and Oceania  New Zealand    Fruits        Online              H
26  Australia and Oceania     Kiribati    Fruits        Online              M

    Order Date   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
19   7/31/2012  322067916   9/11/2012        5908      421.89     364.69
23    9/8/2014  142278373   10/4/2014        2187        9.33       6.92
26  10/13/2014  347140347  11/10/2014        5398        9.33       6.92

    Total Revenue  Total Cost  Total Profit
19     2492526.12  2154588.52     337937.60
23       20404.71    15134.04       5270.67
26       50363.34    37354.16      13009.18

In [11]:
average_profit_by_country = ao_region.groupby('Country')['Total Profit'].mean()
#print(average_profit_by_country)

sum_profit_by_country = ao_region.groupby('Country')['Total Profit'].sum()
print(sum_profit_by_country)

Country
Australia                          576605.12
East Timor                         337937.60
Federated States of Micronesia     146875.14
Fiji                               727423.20
Kiribati                            13009.18
New Zealand                          5270.67
Samoa                             1678540.98
Solomon Islands                    285087.64
Tuvalu                             951410.50
Name: Total Profit, dtype: float64

# GEN AI Prompt:
Write a python commad using pandas to group a dataframe by "Country" column and calculate the average "Total Profit" for each country

#GEN AI Response:

```
average_profit_by_country = df.groupby('Country')['Total Profit'].mean()
print(average_profit_by_country)

```
#Effectiveness:
The code successfully groups the countries and calculates the mean per group
#Modifications Made:
instead of df I  used the already prefiltered ao_region data frame